---
layout: layouts/home.njk
eleventyNavigation:
  key: Projects
  order: 3
---

<div class="row">
  <div class="col-4">
    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">Cards</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-1-1">Birthday Cards</a>
          <a class="nav-link ms-3 my-1" href="#item-1-2">Christmas Cards</a>
          <a class="nav-link ms-3 my-1" href="#item-1-3">Special Occasion Cards</a>
        </nav>
        <a class="nav-link" href="#item-2">Photo Albums</a>
        <a class="nav-link" href="#item-3">Gifts</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-3-1">Cheese Boards</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">Just Married Money Car</a>
          <a class="nav-link ms-3 my-1" href="#item-3-3">Needle-Felt Tree Topper</a>
          <a class="nav-link ms-3 my-1" href="#item-3-4">One Babygrow</a>
          <a class="nav-link ms-3 my-1" href="#item-3-5">Wooden Figures</a>
        </nav>
      </nav>
    </nav>
  </div>

  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div id="item-1">
        <h4>Cards</h4>
      </div>
      <div id="item-1-1">
        <h5>Birthday Cards</h5>
        <img src="../img/hb.jpg" class="d-block w-100">
        <img src= "../img/hb1.jpg" class="d-block w-100">
        <img src= "../img/fifty.jpg" class="d-block w-100">
      </div>
      <div id="item-1-2">
        <h5>Christmas Cards</h5>
        <p>...</p>
      </div>
      <div id="item-1-3">
        <h5>Special Occasion Cards</h5>
        <img src= "../img/newhome.jpg" class="d-block w-100">
        <img src= "../img/mrmrs.jpg" class="d-block w-100">
        <img src= "../img/heart.jpg" class="d-block w-100">
        <img src= "../img/sunflowers.jpg" class="d-block w-100">
      </div>
      <div id="item-2">
        <h4>Photo Albums</h4>
      </div>
      <div id="item-3">
        <h4>Gifts</h4>
      </div>
      <div id="item-3-1">
        <h5>Cheese Board</h5>
        <img src= "../img/cheese.jpg" class="d-block w-100">
      </div>
      <div id="item-3-2">
        <h5>Just Married Money Car</h5>
        <img src="../img/justmarried.jpg" class= "d-block w-100">
      </div>
      <div id="item-3-3">
        <h5>Needle-Felt Tree Topper</h5>
        <img src="../img/treetopper.jpg" class= "d-block w-100">
      </div><div id="item-3-4">
        <h5>One Babygrow</h5>
        <img src="../img/oneshirt.jpg" class= "d-block w-100">
      </div><div id="item-3-5">
        <h5>Wooden Figures</h5>
        <img src="../img/woodenfigures.jpg" class= "d-block w-100">
      </div>
    </div>
  </div>
</div>